<p id="notice"><%= notice %></p>

<h1>Listing Contacts</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Company name</th>
      <th>Address</th>
      <th>City</th>
      <th>County</th>
      <th>State</th>
      <th>Zip</th>
      <th>Phone one</th>
      <th>Phone two</th>
      <th>Email</th>
      <th>Web</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.first_name %></td>
        <td><%= contact.last_name %></td>
        <td><%= contact.company_name %></td>
        <td><%= contact.address %></td>
        <td><%= contact.try(:state).try(:city) %></td>
        <td><%= contact.county %></td>
        <td><%= contact.try(:state).try(:state) %></td>
        <td><%= contact.zip %></td>
        <td><%= contact.phone_one %></td>
        <td><%= contact.phone_two %></td>
        <td><%= contact.email %></td>
     <td><%= link_to contact.web,"http://#{contact.web}", :target => "_blank" %>
     
       
      </tr>
    <% end %>
  </tbody>
</table>

<br>


